.DS_Store

*.exe
*.test
*.prof

*~

cover.profile

.idea/

.build/
cmd/antha/antha
cmd/composer/composer
cmd/composer/*.json
cmd/elements/elements
cmd/migrate/migrate
cmd/upload-metadata/upload-metadata
cmd/simulationfiles/simulationfiles
cmd/coveralls/coveralls
workflow/simulaterequestpb/dumpjson/dumpjson
