{
    "SchemaVersion": "2.0",
    "WorkflowId": "abc",

    "Repositories": {
        "Synthace": {
            "Directory": "/home/matthew/src/Go_external_1.11/src/repos.antha.com/antha-ninja/elements-westeros",
            "Branch": "matthew"
        }
    },

    "Elements": {
        "Types": [
            {
                "RepositoryName": "Synthace",
                "ElementPath": "Tests/FileOutput"
            }
        ],

        "Instances": {
            "myFileOutput": {
                "TypeName": "FileOutput",
                "Meta": {
                    "x": 442,
                    "y": 256
                },
                "Parameters": {
                    "ParamFileA": {"Path": "/tmp/anthafoobar/inputs/fileA.txt"},
                    "ParamFileB": {"Path": "/tmp/anthafoobar/inputs/fileB.txt"},
                    "ParamFilename": "myfilename",
                    "ParamFileSlice": []
                }
            }
        }
    }
}
